* {
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #f6f8fd;
  font-family: $fontFamily;
}

#app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.children {
  padding-left: 2rem;
}
